body {
  font-family: $main-font;
  font-size: $main-font-size;
  color: $main-font-color;
  background-color: $white-color;
}

.visibility--hidden {
  display: none;
  @media (#{$tablet-width}) {
    display: block;
  }
}

