$font-fallback: Arial, sans-serif;
$main-font: 'OpenSans', $font-fallback;
$font-bold: 'OpenSansBold', $font-fallback;
$font-light: 'OpenSansLight', $font-fallback;

$main-font-size: 14px;
$middle-font-size: 18px;
$biggest-font-size: 24px;

$tablet-width: 'min-width: 700px';
$desktop-width: 'min-width: 1200px';

$main-font-color: #283645;
$pink-color: #d22856;
$white-color: #fff;
$grey-background-color: #f2f2f2;


