.main-header {
  background: rgba(0, 0, 0, 0) url("../img/bg-back-mobile@1x.jpg") no-repeat scroll 50% 0 / cover;
  outline: 1px solid red;
  color: $white-color;
}

.main-header__wrapper {
  background-color: rgba(0, 0, 0, 0.3);
}

