.promo-block {
  outline: 1px solid green;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
}

.promo-block__title {
  padding: 0 20px;
  margin-bottom: 25px;
  font-family: $font-light;
  font-size: $biggest-font-size;
}

.promo-block__features {
  background-color: $grey-background-color;
  margin-top: 65px;
  position: relative;
  //transform: skewY(-6deg);
  /*
  &::before {
    content: '';
    width: 100%;
    height: 32px;
    background-color: $grey-background-color;
    display: block;
    position: absolute;
    top: -16px;
    left: 0;

  }
*/
}

.promo-block__features-item {
  margin-bottom: 40px;

}
.promo-block__features-title {
  font-family: $font-bold;
  font-size: $middle-font-size;
  margin-bottom: 20px;
}

.promo-block__wrapper {
  @include container();
  padding-bottom: 300px;
  padding-top: 45px;
  background: url('../img/iphone-screen-mobile@1x.png') no-repeat 50% 110%;
  //transform: skewY(6deg);
}

