.rateplans {
  outline: 1px solid yellow;
  background-color: $grey-background-color;
  margin-bottom: 40px;
  padding-top: 60px;
}
.rateplans__items {
  margin: 0;
}
.rateplans__input-control {
  display: none;
}
