.reviews {
  outline: 1px solid blue;
  text-align: center;
  margin-bottom: 40px;
}

.reviews__input-control {
  display: none;
}

.reviews__author {
  font-size: $middle-font-size;
  font-family: 'OpenSansBold';
  margin-bottom: 25px;
}
